.ProfilePhoto {
    display: inline-block;
    width: 30%;
    padding-top: 200px;
    /* z-index: -1; */

}

p {
    display: inline-block;
    width: 30%;
}


.about-container {
    z-index: 100;
    position: relative;
}
