/* change the size of the a */
a.instagram-link,
a.twitter-link,
a.deviantart-link,
a.youtube-link,
a.artstation-link {
    font-size: 4em;
    // text-align: center;


}

.link-containers {
    display: inline-block;
    width: 100px;
    height: 70px;
    background-color: #E69FAB;
    margin: 3%;


    &:hover {
        background-color: #d7919c;
        border-radius: 10%;
    }

}


// to channge the size i have to change the svg itself
//this is fixed by going to the a and choosing font-size rather than width and height
